
block content
  script(type='text/javascript', src='/javascripts/game.js')
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  h1= "Game"
  p Welcome to the Game
  p#value count: #{val}
  a(onclick="plus()")
    button(type="button") +
  a(onclick="minus()")
    button(type="button") -
  a(onclick="reset()")
    button(type="button") Reset