extends layout

block content
  h1= title
  p Welcome to #{title}
  <form name="regform" action="/registeruser" method="POST">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <button type="submit" id="submitbutton">Register</button>
  </form>
  a(href='/game') Game
  br
  a(href='/client') Client