/*body {
  background: #EB1E56;
}*/

#banner {
  color: white;
  background-color: #0D2331;
  margin: 0;
}


#pinkBox {
  background-color: #EB1E56;
  height: 50%;
  width: 100%;
}

#pinkBoxText {
  display: table;
  margin: 0 auto;
}

#blueBox {
  background-color: #0D2331;
  height: 50%;
  width: 100%;
}

#blueBoxText {
  display: table;
  margin: 0 auto;
}

body {
  margin: 0;
  text-align: center;
}

a {
  color: #00B7FF;
}
