body {
  background: #0D2331;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#pink {
  background-color: #EB1E56;
  float: right;
  height: 100%;
  width: 50%;
}